.container{
    background-image: url(poza.jpg);

    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: 30%;
    padding: 20px;
    margin: auto;
}

.formular{
    background-color: rgba(255, 255, 255, .5);
    padding: 40px;
    margin: auto;
    width: 80;
    border-radius: 15px;

}

.container h1, .container p{
    text-align: right;
    color: #010658;

}

div{
    text-align: center;
}

.nameinput{
    background-color: #f66700;
    padding: 10px;
    border-radius: 5px;
    margin: 10px 0;
    text-align: left;
    color:white;
}

.emailinput{
    background-color:#00B7E6;
    padding: 10px;
    border-radius: 5px;
    margin: 10px 0;
    text-align: left;
    color:white;
}

.ageinput{
    background-color: #7DCE02;
    padding: 10px;
    border-radius: 5px;
    margin: 10px 0;
    text-align: left;
    color:white;
}

label{

    display: block;
}

input[type="text"]{

    width: 100%;
    border-radius: 5px;
    border: none;
}

input[type="submit"]{
    width: 30%;
    border-radius: 5px;
    background-color: white;
    padding: 10px;
    font-weight: bold;


}
